.main-layout {
  display: flex;
  height: 100vh;
  background: #f3f3f5;
  padding: 24px;
  overflow: hidden;
  box-sizing: border-box;
  gap: 24px;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

